body{
    font-family: Arial, Helvetica, sans-serif;
    background: #1e1e2e;
    color: #fff;
    text-align: center;
}

.crypto-tracker{
    padding: 20px;
}

.crypto-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.crypto-card{
    background: #282a36;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.crypto-card img{
    width: 50px;
    height: 50px;
}

.crypto-card h3{
    font-size: 18px;
    margin: 10px 0 5px;
}

.crypto-card p{
    font-size: 16px;
    font-weight: bold;
}